In [1]:
import pandas as pd

In [2]:
path = "/Users/jesussono/PycharmProjects/flask-dash-board/data"

In [9]:
df = pd.read_csv("/Users/jesussono/PycharmProjects/flask-dash-board/data/performance_analytics_cost_and_ga_metrics.csv",
                index_col=0)

In [10]:
df.head()

,Date,Travel Product,Sessions - This Year,Bookings - This Year,Revenue - This Year,Spend - This Year,Day of Month,Day of Week,Week,Month,Quarter,Year,Sessions - Last Year,Bookings - Last Year,Revenue - Last Year,Spend - Last Year,Category,Birst Category,GA Category
0,2017-01-02,Targaryen Comparestrip Panel Flight,2601,102,0.0,2743,2,0,1,1,1,2017,4416,103,0.0,2220,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
1,2018-01-01,Targaryen Comparestrip Panel Flight,4677,78,0.0,1851,1,0,1,1,1,2018,3188,59,0.0,3353,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
2,2018-12-31,Targaryen Comparestrip Panel Flight,2119,85,0.0,2772,31,0,1,12,4,2019,3345,102,0.0,3040,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
3,2017-01-03,Targaryen Comparestrip Panel Flight,3374,98,0.0,2402,3,1,1,1,1,2017,2781,91,0.0,1841,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads
4,2018-01-02,Targaryen Comparestrip Panel Flight,3017,98,0.0,3986,2,1,1,1,1,2018,3726,89,0.0,3583,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26690 entries, 0 to 26689
Data columns (total 19 columns):
Date                    26690 non-null object
Travel Product          26690 non-null object
Sessions - This Year    26690 non-null int64
Bookings - This Year    26690 non-null int64
Revenue - This Year     26690 non-null float64
Spend - This Year       26690 non-null int64
Day of Month            26690 non-null int64
Day of Week             26690 non-null int64
Week                    26690 non-null int64
Month                   26690 non-null int64
Quarter                 26690 non-null int64
Year                    26690 non-null int64
Sessions - Last Year    26690 non-null int64
Bookings - Last Year    26690 non-null int64
Revenue - Last Year     26690 non-null float64
Spend - Last Year       26690 non-null int64
Category                26690 non-null object
Birst Category          26690 non-null object
GA Category             26690 non-null object
dtypes: float64(2), int64(12), object(5)
memory usage: 4.1+ MB