In [3]:
import sqlalchemy as db
engine = db.create_engine('postgresql://localhost/portfolio_db', echo=False)
connection = engine.connect()
metadata = db.MetaData()

In [4]:
portfolio = db.Table('portfolio', metadata, autoload=True, autoload_with=engine)

In [5]:
print(portfolio.columns.keys())

['id', 'date', 'travel_product', 'sessions_ac', 'bookings_ac', 'revenue_ac', 'spend_ac', 'day_month', 'day_week', 'week', 'month', 'quarter', 'sessions_aa', 'bookings_aa', 'revenue_aa', 'spend_aa', 'category', 'birst_category', 'ga_category', 'year']

In [6]:
# Print full table metadata
print(repr(metadata.tables['portfolio']))

Table('portfolio', MetaData(bind=None), Column('id', INTEGER(), table=<portfolio>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x110cb9a50>, for_update=False)), Column('date', TIMESTAMP(), table=<portfolio>), Column('travel_product', VARCHAR(), table=<portfolio>), Column('sessions_ac', INTEGER(), table=<portfolio>), Column('bookings_ac', INTEGER(), table=<portfolio>), Column('revenue_ac', INTEGER(), table=<portfolio>), Column('spend_ac', DOUBLE_PRECISION(precision=53), table=<portfolio>), Column('day_month', INTEGER(), table=<portfolio>), Column('day_week', INTEGER(), table=<portfolio>), Column('week', INTEGER(), table=<portfolio>), Column('month', INTEGER(), table=<portfolio>), Column('quarter', INTEGER(), table=<portfolio>), Column('sessions_aa', INTEGER(), table=<portfolio>), Column('bookings_aa', INTEGER(), table=<portfolio>), Column('revenue_aa', INTEGER(), table=<portfolio>), Column('spend_aa', DOUBLE_PRECISION(precision=53), table=<portfolio>), Column('category', VARCHAR(), table=<portfolio>), Column('birst_category', VARCHAR(), table=<portfolio>), Column('ga_category', VARCHAR(), table=<portfolio>), Column('year', INTEGER(), table=<portfolio>), schema=None)

In [7]:
query = db.select([portfolio])

In [8]:
ResultProxy = connection.execute(query)

In [9]:
ResultSet = ResultProxy.fetchall()

In [10]:
ResultSet[:3]

[(26691, datetime.datetime(2017, 1, 2, 0, 0), 'Targaryen Comparestrip Panel Flight', 2601, 102, 0, 2743.0, 2, 0, 1, 1, 1, 4416, 103, 0, 2220.0, 'Metasearch and Travel Ads', 'Travel', 'MetaSearch and Travel Ads', 2017),
 (26692, datetime.datetime(2018, 1, 1, 0, 0), 'Targaryen Comparestrip Panel Flight', 4677, 78, 0, 1851.0, 1, 0, 1, 1, 1, 3188, 59, 0, 3353.0, 'Metasearch and Travel Ads', 'Travel', 'MetaSearch and Travel Ads', 2018),
 (26693, datetime.datetime(2018, 12, 31, 0, 0), 'Targaryen Comparestrip Panel Flight', 2119, 85, 0, 2772.0, 31, 0, 1, 12, 4, 3345, 102, 0, 3040.0, 'Metasearch and Travel Ads', 'Travel', 'MetaSearch and Travel Ads', 2019)]

In [11]:
import pandas as pd
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()

In [12]:
df.head()

,id,date,travel_product,sessions_ac,bookings_ac,revenue_ac,spend_ac,day_month,day_week,week,month,quarter,sessions_aa,bookings_aa,revenue_aa,spend_aa,category,birst_category,ga_category,year
0,26691,2017-01-02,Targaryen Comparestrip Panel Flight,2601,102,0,2743.0,2,0,1,1,1,4416,103,0,2220.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads,2017
1,26692,2018-01-01,Targaryen Comparestrip Panel Flight,4677,78,0,1851.0,1,0,1,1,1,3188,59,0,3353.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads,2018
2,26693,2018-12-31,Targaryen Comparestrip Panel Flight,2119,85,0,2772.0,31,0,1,12,4,3345,102,0,3040.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads,2019
3,26694,2017-01-03,Targaryen Comparestrip Panel Flight,3374,98,0,2402.0,3,1,1,1,1,2781,91,0,1841.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads,2017
4,26695,2018-01-02,Targaryen Comparestrip Panel Flight,3017,98,0,3986.0,2,1,1,1,1,3726,89,0,3583.0,Metasearch and Travel Ads,Travel,MetaSearch and Travel Ads,2018

In [23]:
query_gb = (db.select([portfolio.columns.travel_product,
                       db.func.sum(portfolio.columns.spend_ac).label('spend_ac'), 
                      db.func.sum(portfolio.columns.bookings_ac).label('bookings_ac')
                      ])
            .group_by(portfolio.columns.travel_product))

In [24]:
ResultProxy_gb = connection.execute(query_gb)

In [25]:
ResultSet_gb = ResultProxy_gb.fetchall()

In [26]:
df_gb = pd.DataFrame(ResultSet_gb)
df_gb.columns = ResultSet_gb[0].keys()

In [27]:
df_gb

                                   travel_product    spend_ac  bookings_ac
0              Stark Comparestrip Results Flights   2392718.0        67149
1                                     Stark Deals   2416844.0        67255
2                             Stark Inline Flight   2467199.0        66564
3                            Stark Inline Package   2369422.0        67146
4                                Stark Afterclick   2386778.0        66692
5            Targaryen Comparestrip Panel Package   2321164.0        67706
6      Paid Search Non-Brand Retargeting Generics  14714514.0        72137
7           Paid Search Non-Brand Retargeting DSA   7038464.0        72747
8                   Stark Comparestrip Prechecked   2575751.0        68004
9                              Tyrell Prospecting   2890118.0        67893
10          Paid Search Non-Brand Prospecting DSA   5512826.0        69740
11                             Stark Inline Hotel   2344666.0        66771
12                                    Stark Email   2410376.0        67630
13                                    Arryn Email   2355103.0        66700
14                                Baratheon Email   2491140.0        67317
15                                  Lannister CPC   4774635.0        67631
16  Paid Search Non-Brand Retargeting Destination   6699117.0        78854
17                             Tyrell Retargeting   3972082.0        68953
18                                Targaryen Email   2523693.0        67988
19                   Stark Comparestrip Unchecked   2967841.0        67204
20                          Tyrell HPA MetaSearch   3638924.0        69011
21     Paid Search Non-Brand Retargeting Property   3974278.0        71955
22     Paid Search Non-Brand Prospecting Property   5487544.0        69030
23     Paid Search Non-Brand Prospecting Generics   7283108.0        69716
24                                Greyjoy Display   3872542.0        72776
25                      Lannister Email Newsflash   2883924.0        66923
26            Targaryen Comparestrip Panel Flight   2409939.0        66776
27                            Stark Vacation Core   2980314.0        70431
28                          Stark Targaryen Modal   2366781.0        67339
29  Paid Search Non-Brand Prospecting Destination  12797426.0        74716
30                              Paid Search Brand   6204879.0       146629
31                                  Stark Display   2799434.0        67585
32            Stark Comparestrip Results Packages   2367922.0        67313
33                          Lannister Email Top20   4532628.0        68279